* {
    margin: 0;
    padding: 0;
  }
  body{
      background-image: url(gtr.jpgsas);
      background-repeat: no-repeat; 
      background-size: cover;
  }

  header{
    position: fixed;
    width: 100%;

  }
  
  a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
  }
  
  a:hover {
    opacity: 0.7;
  }
  
  .logo {
    font-size: 110%;
    letter-spacing: 4px;
  }
  
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background: #000000;
    height: 11vh;
  }
  
  main {
    background: url("bg.jpg") no-repeat center center;
    background-size: cover;
    height: 92vh;
  }
  
  .nav-list {
    list-style: none;
    display: flex;
  }
  
  .nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
  }
  
  .mobile-menu {
    display: none;
    cursor: pointer;
  }
  
  .mobile-menu div {
    width: 32px;
    height: 2px;
    background: rgb(255, 255, 255);
    margin: 8px;
    transition: 0.3s;
  }
  
  @media (max-width: 999px) {
    body {
      overflow-x: hidden;
    }
    .nav-list {
      position: absolute;
      top: 8vh;
      right: 0;
      width: 50vw;
      height: 92vh;
      background: #000000;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transform: translateX(100%);
      transition: transform 0.3s ease-in;
    }
    .nav-list li {
      margin-left: 0;
      opacity: 0;
    }
    .mobile-menu {
      display: block;
    }
  }
  
  .nav-list.active {
    transform: translateX(0);
  }
  
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }
  .logg{
      width: 85px;
      height: 60px;
  }
  .div0{
    padding: 100px;
    background-image: url(gtr.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-position-x: center;
    text-align: left;

  }
  .div1{
    padding: 100px;
    background-image: url(img1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-position-x: center;
    align-items: text;
    text-align:left;
    padding-top: 45px;
    color: rgba(250, 234, 234, 0.685);
  
  }
  .div2{
    background-image: url(imgcarro5.png);
    background-repeat: no-repeat;
   background-size: cover;
    height: 89vh;
   
    background-position: center;
    align-items: text;
    text-align: center;
    color: aliceblue;
   
 
    
  }
.parag2{
  position: absolute;
  left: 77px;
  align-items: left;
  justify-items: center;
  padding: 12px;
  font-family: serif;
}

#Cadastro{
  align-items: center;
  justify-items: center;
 
}

.hide{
  display: none;
 
}

.butt-cadas{
  position: sticky;
  margin-top: 5px;
  width: 100px;
  height: 20px; 
  border-radius: 10px ;
  background-color: rgb(255, 255, 255);
  font-family: 'Times New Roman', Times, serif 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, sans-serif, Helvetica, cursive;
  
  
}


#bnt{
display: flex;
align-items: center;
margin-top: 1px;
border-radius: 10px;
background-color: white;
color: black;

}

#botoes{
display:flex;
justify-content: center;
background-color: rgba(255, 255, 255, 0);

}

#cmpG{
  width: 150px;
  height: 15px;
  border: none;
  border-bottom: 2px solid rgb(0, 0, 0);
  opacity: 0.8;
  border-radius: 10px;
  background-color: #00000000;
  background-image: linear-gradient(40deg, rgba(223, 224, 224, 0.568), rgba(136, 141, 145, 0.445) )
}
.caixa{
  width: 320px;
  border-radius: 20px;
  border: 3px solid rgb(0, 0, 0);  
  padding: 4px;
  margin: 20px;
  display:inline-block;
  outline-style:outset;
  border-bottom: 5px solid rgba(28, 2, 63, 0.705);
  ;

}